ul, li {
    list-style-type: none;
    padding: 0px;
}
.button-area{
    padding-top: 30px;
}

#render-button, #edit-button, #add-button{
    margin-bottom: 5px !important;
    /*width: 75px !important;*/
    /*height: 35px !important;*/
}

.render{
    text-align:center;
    width: 300px;
    margin: 0;
}

textarea{
    border-radius:3px;
    border-style: dotted;
}

.text .render, .text .edit{
    height: 100px;
}

.area{
    cursor: move;
    margin: 5px 0;
}
.edit{
    width: 300px;
}