.example{
    background: blue;
}

div{
    color: white;
}

.example-2{
    background: #c0240b;
}





ul, li {
    list-style-type: none;
    padding: 0px;
}

.column{
    padding: 30px;
    float: left;
    width: 480px;
}
.button-area{
    padding: 30px;
    border-bottom: gray 1px solid;
}
.content-area{
    border: dashed 1px;
    width: 480px;
}

#add-button{
    font-size: 12px;
    cursor: hand;
    width: 25px;
    height: 25px;
    background: #00709f;
    border-radius: 63px;
    color: #FFFFFF;
    border: 0 solid #000000;
    text-align: center;
    padding-top: 3px;
    margin-left: 10px;
}

.render{
    text-align:center;
    width: 470px;
    margin: 0;
}

textarea{
    border-radius:3px;
    border-style: dotted;
}

.text .render, .text .edit{
    height: 100px;
}

.area{
    cursor: move;
    margin: 5px;
    width: 470px;
}
.edit{
    width: 470px;
}