<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.thoughtworks.ketsu.infrastructure.mybatis.mappers.ProductMapper">
    <select id="findById" resultMap="records.product">
        SELECT
        <include refid="columns.product"/>
        FROM (PRICES PR, USERS U) RIGHT JOIN PRODUCTS P
        ON PR.product_id = P.id AND U.ID = P.user_id WHERE P.id = #{id}
    </select>

    <insert id="save" useGeneratedKeys="true" keyProperty="info.id">
        INSERT INTO PRODUCTS (name, user_id)
        VALUES (#{info.name}, #{user_id})
    </insert>

    <insert id="savePrice" useGeneratedKeys="true" keyProperty="info.price_id">
        INSERT INTO PRICES (price, product_id)
        VALUES (#{info.price}, #{product_id})
    </insert>

    <update id="setPrice">
        UPDATE PRODUCTS SET price_id = #{price_id} WHERE id = #{product_id}
    </update>
</mapper>
